{% extends "layout/base.html" %}
{% block content %}
{% load static %}

<div id="cachualogin"></div>
<link href="{% static 'css/Account/login.css' %}" rel="stylesheet" />
<script src="{% static 'js/Account/login.js' %}"></script>


<script>
    var app = Elm.Main.init({
        node: document.getElementById('cachualogin')
    })
    console.log("some string")
    app.ports.pushTolocal.subscribe(function(data) {
        console.log(JSON.stringify(data));

        localStorage.setItem('token', JSON.stringify(data));

    });

</script>

{% endblock content %}
